body{
background-color: white;
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
}
.main{
    display: flex;
    justify-content: center;
}
.head{
    Width: 1321px;
    Height: 646px;
    background-color: #161616;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 30px;
}
.head-detail{
    width: 531px;
    height: 424px;
    padding-left: 100px;
    padding-top: 100px;
}
.head-detail h1{
    color: white;
    font-size: 70px;
    line-height: 80px;
    font-weight: 700;
}
.head-detail p{
    color: white;
    font-size: 20px;
    line-height: 26px;
}
.head-pic img{
    width: 581px;
    height: 600px;
    padding-top: 46px;
    padding-left: 40px;
}
.head-detail button{
    width: 187px;
    height: 56px;
    border: none;
    background: #DD0000;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    font-size: 20px;
}
.head-detail i{
    margin-left: 5px;
}

/* section-2 */

.section-2{
    display: flex;
    justify-content: center;
    Width: 1321px;
}

.option{
    width: 270px;
    height: 270px;
    background: #161616;
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(1fr);
    padding-left: 35px;
    padding-top: 35px;
   
}
.option button{
    width: 240px;
    height: 60px;
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #161616;
    text-decoration: none;
}
.blog-red{
    background-color: #DD0000;
    color: white;
}
.update{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    margin-left: 90px;
    margin-top: 80px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 240px;
    gap: 20px;
}
.time{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
    margin-left: 15px;
}
.hour{
    font-size: 16px;
    color: grey;
}
.icon img{
    width: 24px;
    height: 24px;
}
.icons{
    padding-left: 60px;
}
.blog{
    margin-top: 30px;
    border: 1px solid rgb(228, 227, 227);
    border-radius: 10px;
    width: 312px;
    height: 362px;
}
.blog h3{
    margin-left: 15px;
}
.blog button{
    width: 100px;
    height: 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #161616;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 20px;
    margin-left: 15px;
}
.view{
    width: 130px;
        height: 52px;
        background-color: #DD0000;
        color: white;
        font-size: 18px;
        border-radius: 10px;
        margin-left: 700px;
        margin-top: 40px;
        border: none;
        visibility: hidden;
}
/* footer */
footer{
    height: 444px;
    background: #161616;
    margin-top: 200px;
}
footer h1{
    color: #B9B9B9;
    font-weight: 600;
    font-size: 40px;
    padding-top: 130px;
   text-align: center;
   padding-bottom: 30px;
}
footer hr{
    width: 1200px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.info{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-left: 350px;
    padding-top: 40px;
    margin-left: -200px;
}
.infos{
    color: #B9B9B9;
}


/* responsive */

/* tablet */
/* 
@media screen and (max-width:992px) {
    .main{
       
        width: 100%;
        justify-content: center;
        height: 100%;
        margin-left: 200px;
    }
} */
@media only screen and (min-width: 768px) and (max-width:992px) {
    .main{
        width: 100%;
    }
    .head-pic{
        width: 100%;
    }
    .update{
        grid-template-columns: repeat(1, 1fr);
    }
    .option{
        grid-template-columns: repeat(3, 1fr);
        background: none;
        justify-content: center;
        width: 100%;
    }
    .blogs{
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        height: 1200px;
    }
    .blog{
        width: 100%;
        width: 312px;
        margin-top: -160px;
    }
    .view{
        visibility: visible;
        margin-top: -90px;
    }
    footer{
        width: 100%;
        height: 100%;
    }
    .info{
        grid-template-columns: repeat(4, 1fr);

    }

}


/* mobile */
